<div class="add-form">
	<h2 class="add-form__title">Agregar un nuevo juego</h2>
	<section class="add-form__input-container">
		<input
			type="text"
			name="name"
			[formControl]="name"
			placeholder="Nombre"
			class="add-form__input"
		/>
		<textarea
			type="text"
			name="description"
			[formControl]="description"
			placeholder="Descripcion"
			class="add-form__input"
		></textarea>
		<input
			type="number"
			name="activePlayers"
			[formControl]="activePlayers"
			placeholder="Jugadores activos"
			class="add-form__input"
		/>
		<button
			class="add-form__button"
			(click)="add(name, description, activePlayers)"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-circle-plus"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<circle cx="12" cy="12" r="9" />
				<line x1="9" y1="12" x2="15" y2="12" />
				<line x1="12" y1="9" x2="12" y2="15" />
			</svg>
		</button>
	</section>
</div>
