<button
	type="button"
	(click)="goBack()"
	class="back-button px-2 py-1 rounded-lg border-2 text-blue-800 border-blue-800 hover:bg-blue-500 hover:text-white hover:border-blue-500"
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
		class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back-up"
	>
		<path stroke="none" d="M0 0h24v24H0z" fill="none" />
		<path d="M9 14l-4 -4l4 -4" />
		<path d="M5 10h11a4 4 0 1 1 0 8h-1" />
	</svg>
</button>
<!-- <ng-container *ngIf="game; else loading"> -->
<section *ngIf="game" class="game-detail">
	<span class="game-detail-span">ID: {{ game.id }}</span>

	<article>
		<label for="name">Nombre: </label>
		<input
			type="text"
			id="name"
			[(ngModel)]="game.name"
			placeholder="name"
			class="game-detail__input p-1 mx-1 border-b-2 border-gray-300 focus:border-blue-500 outline-none transition-colors ease-in-out duration-75"
		/>
	</article>
	<article>
		<label for="name">Descripcion: </label>
		<input
			type="text"
			id="name"
			[(ngModel)]="game.description"
			placeholder="description"
			class="game-detail__input p-1 mx-1 border-b-2 border-gray-300 focus:border-blue-500 outline-none transition-colors ease-in-out duration-75"
		/>
	</article>

	<article>
		<label for="name">Jugadores activos: </label>
		<input
			type="text"
			id="name"
			[(ngModel)]="game.activePlayers"
			placeholder="Jugadores activos"
			class="game-detail__input p-1 mx-1 border-b-2 border-gray-300 focus:border-blue-500 outline-none transition-colors ease-in-out duration-75"
		/>
	</article>
	<footer class="game-detail__footer my-2 flex gap-2">
		<button
			type="button"
			(click)="update()"
			class="game-detail__button px-2 py-1 rounded-lg border-2 text-green-800 border-green-800 hover:bg-green-600 hover:text-white hover:border-green-600"
		>
			Actualizar
		</button>
	</footer>
</section>

<!-- </ng-container> -->

<!-- <ng-template #loading>
	<h1>Cargando...</h1>
</ng-template>
 -->
