<main class="index">
	<header class="index__header">
		<section class="index__title-container">
			<h1 class="index__title">Ingresa y descubre un crud épico</h1>
			<h2 class="index__subtitle">
				<span class="index__span-subtitle">Hecho por </span>
				el mejor practicante que va a tener esta empresa
			</h2>
			<a routerLink="/auth/signup" class="index__anchor">¡Regístrate!</a>
		</section>
		<figure class="index__image-container">
			<img src="../../../assets/svg/todolist.svg" alt="" class="index__image" />
		</figure>
	</header>
	<section class="index__card-container">
		<article class="index__card">
			<h3 class="index__card-title">¿Que se utilizó?</h3>
			<p class="index__card-text">
				Se usó Java con Spring Boot para el backend y Se usó Angular para el
				frontend
			</p>
		</article>

		<article class="index__card">
			<h3 class="index__card-title">¿Que aprendí?</h3>
			<p class="index__card-text">
				Aprendí mejores prácticas y nuevas funcionalidades de los frameworks que
				estoy utilizando
			</p>
		</article>
	</section>
</main>
<app-footer></app-footer>
