<template *ngIf="loading" class="sign-up-loading-template">Cargando...</template>
<ng-template *ngIf="error"></ng-template>
<section class="sign-up-section" *ngIf="!loading || !error">
	<figure class="sign-up-image-container">
		<img
			src="../../../../../assets/svg/register.svg"
			alt="login image"
			class="sign-up-image"
		/>
	</figure>
	<form class="sign-up" [formGroup]="signUpForm">
		<h1 class="sign-up__title">Registro</h1>
		<article class="sign-up__input-container">
			<label for="user" class="sign-up__label">Usuario</label>
			<input
				name="user"
				formControlName="username"
				type="text"
				class="sign-up__input"
				minlength="5"
				required
			/>
			<small
				*ngIf="submitted && signUpForm.get('username')?.errors?.['required']"
				class="sign-in__"
				>El usuario es requerido</small
			>
			<small
				*ngIf="submitted && signUpForm.get('username')?.errors?.['minlength']"
				>El usuario es de minimo 5 carácteres</small
			>
		</article>
		<article class="sign-up__input-container">
			<label for="user" class="sign-up__label">Contraseña</label>
			<input
				name="user"
				type="password"
				class="sign-up__input"
				formControlName="password"
				minlength="8"
				required
			/>
			<small
				*ngIf="submitted && signUpForm.get('password')?.errors?.['required']"
				>La contraseña es requerida</small
			>
			<small
				*ngIf="submitted && signUpForm.get('password')?.errors?.['minlength']"
				>La contraseña es de minimo 8 carácteres</small
			>
		</article>
		<article class="sign-up__input-container">
			<label for="user" class="sign-up__label">Repetir contraseña</label>
			<input
				name="user"
				type="password"
				class="sign-up__input"
				formControlName="passwordConfirmation"
				minlength="8"
				required
			/>
			<small
				*ngIf="submitted && signUpForm.get('passwordConfirmation')?.errors?.['required']"
				>La confirmación de la contraseña es requerida</small
			>
		</article>
		<button type="submit" class="sign-up__button" (click)="signUp()">
			Regístrarse
		</button>

		<small *ngIf="error" class="sign-up__small">{{ error }}</small>

		<footer class="sign-up__footer">
			<span class="sign-up__footer-text">¿Ya tienes una cuenta?, </span>
			<button (click)="goToSignIn()" class="sign-up__footer-button">
				Inicia sesión
			</button>
		</footer>
	</form>
</section>
