@import 'src/style/_index.scss';

.games-list {
	list-style: none;
	width: 100%;
	padding: 0;
	color: var(--color-white);

	&__title {
		font-size: 24px;
		font-weight: normal;
		opacity: 0.9;
		text-align: center;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		margin: 10px 0;
		width: 100%;
		gap: 10px;
	}

	&__text {
		font-size: 20px;
		font-weight: normal;
		opacity: 0.9;
	}

	&__aside {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__anchor {
		padding: 10px;
		border: none;
		border-radius: 5px;
		background-color: var(--rc-color-secondary700);
		color: var(--rc-color-warning);
		font-size: 16px;
		cursor: pointer;
		outline: none;
	}

	&__anchor:hover {
		background-color: var(--rc-color-warning);
		color: var(--rc-color-secondary700);
	}

	&__button {
		padding: 10px;
		border-radius: 5px;
		border: none;
		background-color: var(--rc-color-secondary300);
		color: var(--rc-color-primary);
		font-size: 16px;
		cursor: pointer;
		outline: none;

		&:hover {
			background-color: var(--rc-color-primary);
			color: var(--rc-color-secondary300);
		}
	}
}
