<div class="add-form">
	<h2 class="add-form__title">Agregar un nuevo juego</h2>
	<section class="add-form__inputs-container">
		<section class="add-form__label">
			<label for="name" class="add-form__label">Nombre</label>
			<input
				type="text"
				name="name"
				[formControl]="name"

				class="add-form__input"
			/>
		</section>
		<section class="add-form__label">
			<label for="description" class="add-form__label">Descripción</label>
			<textarea
				type="text"
				name="description"
				[formControl]="description"
				class="add-form__input"
			></textarea>
		</section>
		<section class="add-form__label">
			<label for="activePlayers" class="add-form__label"
				>Jugadores activos</label
			>
			<input
				type="number"
				name="activePlayers"
				[formControl]="activePlayers"
				class="add-form__input"
			/>
		</section>
		<button
			class="add-form__button"
			(click)="
				addGame({
					id: 0,
					name: name.value!,
					description: description.value!,
					activePlayers: +activePlayers.value!
				})
			"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-circle-plus"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<circle cx="12" cy="12" r="9" />
				<line x1="9" y1="12" x2="15" y2="12" />
				<line x1="12" y1="9" x2="12" y2="15" />
			</svg>
		</button>
	</section>
</div>
