.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	align-items: center;
	color: var(--color-dark);

	&__title {
		font-size: 2rem;
		margin-top: 2rem;
		text-align: center;
		text-transform: uppercase;
	}
}
