/* Variables */
$primary-color: #1582ff;
$success-color: #0fa968;
$light-green-color: #1acd81;
$danger-color: #df1111;
$warning-color: #ffee00;
$light-color: #ffffff;
$dark-green-color: #03301f;
$dark-color: #141414;
$light-gray-color: #ccc;
