@import '/src/style/index';

.game-detail {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	width: 100%;
	margin: 10px 0;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__title {
		font-size: 24px;
		font-weight: normal;
		opacity: 0.9;
		text-align: center;
	}

	&__input-container {
		display: flex;
		flex-direction: column;
	}

	&__input {
		margin-bottom: 10px;
		padding: 10px;
		width: 100%;
		border: 1px solid var(--color-gray);
		border-radius: 5px;
		outline: none;

		&:focus {
			border: 1px solid var(--color-primary);
		}
	}

	&__button {
		padding: 10px;
		border: 1px var(--color-success) solid;
		border-radius: 5px;
		background-color: var(--color-light);
		color: var(--color-success);
		font-size: 16px;
		cursor: pointer;
		outline: none;

		&:hover {
			background-color: var(--color-success);
			color: var(--color-light);
		}
	}
}

.back-button {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px var(--color-primary) solid;
	border-radius: 5px;
	background-color: var(--color-light);
	color: var(--color-primary);
	font-size: 16px;
	cursor: pointer;
	outline: none;

	&:hover {
		background-color: var(--color-primary);
		color: var(--color-light);
	}
}
