@import '/src/style/index';

.game-detail-container {
	max-width: 768px;
	margin: 20px auto;
}

.game-detail {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	width: 100%;
	margin: 10px 0;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__title {
		font-size: 24px;
		font-weight: normal;
		opacity: 0.9;
		text-align: center;
	}

	&__input-container {
		display: flex;
		flex-direction: column;
	}

	&__input {
		margin-bottom: 10px;
		padding: 10px;
		width: 100%;
		border: 1px solid var(--rc-color-secondary300);
		border-radius: 5px;
		outline: none;
		background-color: inherit;
		color: var(--rc-color-white);

		&:focus,
		&:active,
		&:hover {
			border-color: var(--rc-color-secondary50);
		}
	}

	&__button {
		padding: 10px;
		border: 1px var(--rc-color-secondary300) solid;
		border-radius: 5px;
		background-color: var(--rc-color-white);
		color: var(--rc-color-secondary300);
		font-size: 16px;
		cursor: pointer;
		outline: none;

		&:hover {
			background-color: var(--rc-color-secondary300);
			color: var(--rc-color-white);
		}
	}
}

.back-button {
	margin-bottom: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--rc-color-white);
	color: var(--color-primary);
	font-size: 16px;
	cursor: pointer;
	outline: none;

	&:hover {
		background-color: var(--rc-color-blue);
		color: var(--color-light);
	}
}
