<main class="game-detail-container">


<button type="button" (click)="goBack()" class="back-button">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
		class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back-up"
	>
		<path stroke="none" d="M0 0h24v24H0z" fill="none" />
		<path d="M9 14l-4 -4l4 -4" />
		<path d="M5 10h11a4 4 0 1 1 0 8h-1" />
	</svg>
</button>
<!-- <ng-container *ngIf="game; else loading"> -->
<ng-template *ngIf="loading$ | async">Cargando...</ng-template>
<section *ngIf="game" class="game-detail">
	<span class="game-detail-span">ID: {{ game.id }}</span>

	<article class="game-detail__input-container">
		<label for="name">Nombre: </label>
		<input
			type="text"
			id="name"
			[formControl]="name"
			placeholder="name"
			class="game-detail__input"
		/>
	</article>
	<article class="game-detail__input-container">
		<label for="description">Descripcion: </label>
		<textarea
			type="text"
			id="description"
			[formControl]="description"
			placeholder="description"
			class="game-detail__input"
		></textarea>
	</article>

	<article class="game-detail__input-container">
		<label for="activePlayers">Jugadores activos: </label>
		<input
			type="number"
			id="activePlayers"
			[formControl]="activePlayers"
			placeholder="Jugadores activos"
			class="game-detail__input"
		/>
	</article>
	<footer class="game-detail__footer">
		<button
			type="button"
			(click)="
				update({
					id: game.id,
					name: name.value!,
					description: description.value!,
					activePlayers: +activePlayers.value!
				})
			"
			class="game-detail__button"
		>
			Actualizar
		</button>
	</footer>
</section>
</main>
